@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* Config */
:root {
  /* Colors */
  --bg: #181818;
  --text: #67b150;

  --green: #ebbb7c;
  --green-dim: #00b8a0;

  --cyan: #00e5ff;
  --blue: #4d8cff;

  --yellow: #fdc316;
  --red: #ff5555;
  --magenta: #ff55ff;

  --gray: #666666;
  --white: #ffffff;

  --font-family: 'Inconsolata';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

#root {
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  white-space: pre-line;
}

section {
  padding: 2rem;
  animation: fadeIn 1s ease-in-out;
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--yellow);
  border-bottom: dashed 1px var(--yellow);
  transition: all 0.2s;
}

a:hover {
  color: var(--cyan);
  border-color: var(--cyan);
}

.cursor {
  display: inline-block;
  width: 7px;
  height: 1em;
  margin-left: 3px;
  background: var(--text);
  animation: blink 0.8s linear infinite;
  vertical-align: text-bottom;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 100%;
}

::selection {
  background: var(--text);
  color: var(--bg);
}

.input-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 7px;
  white-space: pre;
}

.custom-caret {
  position: absolute;
  top: 100%;
  right: -10px;
  width: 8px;
  height: 1px;
  background: var(--text);
  animation: blink 0.8s infinite;
  pointer-events: none;
}