@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --font-family: 'JetBrains Mono', monospace;
  --background-color: #1f2937;
  --text-color: #d1d5db;
  --guest-color:#fdba74;
  --green-color:#4ade80;
}

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  font-family: var(--font-family);
  background-color: var(--background-color);
  height: 100%;
}

section {
  height: 100%;
  animation: fadeIn 1s;
  padding: 1.5rem;
}

p {
  color: var(--text-color);
}

.logo {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 15px;
}

.github {
  color: var(--guest-color);
  text-decoration: underline;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}