@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --font-family: 'JetBrains Mono', monospace;
  --background-color: #1f2937;
  --text-color: #d1d5db;
  --guest-color:#fca440;
  --green-color:#8ae5ac;
  --link-color: #fca440;
  --link-hover-color: #f5c676;
}

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
}

section {
  padding: 1.5rem;
}

a {
  color: var(--guest-color);
  text-decoration: none;
  transition: all 0.3s ease;
  border-bottom: dashed 1px var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.terminal {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  line-height: 1.5rem;
}

.terminal-input {
  display: flex;
  gap: 0.6rem;
  input {
    all: unset;
    width: 100%;
  }
}